@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;200;300;400;500;700&family=Montserrat:wght@100;300;400;500;700&family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;200;300;400;500;700&display=swap");

* {
    margin: 0;
    padding: 0;
}

body {
    font-style: normal;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.contenedorPrincipal{
    min-height: 90vh;    
    /* background-color: #3E7CB1; */
    background: linear-gradient(180deg, rgba(0, 162, 229,1) 0%, rgba(3,108,200,1) 100%);     
    padding: 1rem;
}

.contenedorSecundario{
    width: 75vw;
    height: 70vh;
    border-radius: 1rem;
    overflow-y: hidden;
    /* background-image: linear-gradient(to right top, #ffffff, #fcfcfc, #f9f9f9, #f7f7f7, #f4f4f4, #f0f1f6, #ebeef7, #e4ecf9, #d2ebfe, #bbecfe, #a4ecf6, #92ece7); */
}

.bordeBottom{
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.contenedorH{
    max-height: 90%;
}

.texto{
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.8);
}

.divIcon{
    width: 26px;
    height: 26px;
}

.formulario{
    overflow: hidden auto;
    min-height: 85%;
    max-height: 85%;
    scrollbar-width: thin;
    scrollbar-color:  rgba(0, 157, 255, 0.8) rgb(205, 205, 205);
    
}

.btn{
    text-transform: capitalize;
}

.scrollMod{
    scrollbar-width: thin;
    scrollbar-color:  rgba(0, 209, 223, 0.8) rgb(205, 205, 205);
}

.parrafo{
    font-size: 0.9rem;
}