@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;200;300;400;500;700&family=Montserrat:wght@100;300;400;500;700&family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;200;300;400;500;700&display=swap");

* {
    margin: 0;
    padding: 0;
}

/* html{
    font-size: 87%;
} */

body {
    font-style: normal;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.contenedorPrincipal{
    min-height: 85vh;    
    /* background-color: #3E7CB1; */
    background: linear-gradient(180deg, rgba(0,142,233,1) 0%, rgba(3,108,200,1) 100%);    
    padding: 1rem;
}

.contenedorSecundario{
    width: 70vw;
    height: 70vh;
    border-radius: 1rem;
    /* z-index: 100; */
}

.bordeBottom{
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.contenedorH{
    max-height: 90%;
}

.colorTexto{
    color: rgba(0, 0, 0, 0.8);
}

.divIcon{
    width: 28px;
    height: 28px;
}